.header {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8vh;
}

.sub {
    font-size: 3vh;
    text-align: center;
}
  
.button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
  
.header-banner {
    justify-content: center;
    align-items: center;
    position: relative;
    background: url(./../images/bg.png);
    height: 500px;
    width: 100%;
    display: flex;
    background-position: 0 0;
    background-repeat: repeat-x;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    from{
      background-position: 0 0;
    }
    to{
      background-position: 3920px 0;
    }
  }